@import url("../../../public/themes/variables.css");

#root {
   background-color: var(--s-bg);
   color: var(--s-secondary);
}

.container {
   margin: 0 auto;
   max-width: var(--s-max-width);
   padding: 0 1rem;
   height: 100%;
}

.cont {
   margin: 0 -0.2rem;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.in_cont {
   padding: 0 0.2rem;
   flex-grow: 1;
   min-height: 0.1rem;
}

#category_nav {
   position: fixed;
   z-index: var(--s-nav-z-idx);
   width: 100%;
}

.nav_container {
   margin: 0 auto;
   max-width: var(--s-max-width);
   padding: 0 1rem;
   height: 100%;
}

.nav_in_cont {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-top: var(--s-marg-em-m);
   font-family: var(--s-playfair-ff);
   font-size: var(--s-fs-s);
}

.nav_header {
   cursor: pointer;
   display: flex;
   gap: var(--s-marg-em-xs);
}

.nav_header a:first-child p {
   font-style: italic;
   color: var(--s-main);
   transition: var(--s-transition-hover-base);
}

.nav_header a:not(.nav_header a:first-child) p {
   color: var(--s-secondary);
   transition: var(--s-transition-hover-base);
}

.nav_header a:not(.nav_header a:first-child) p:hover {
   color: var(--s-main);
}

.nav_aside a {
   color: var(--s-secondary);
}

#in_cont_hero {
   display: flex;
   flex-direction: column;
   margin-top: var(--s-marg-em-xxl);
}

@media (min-width: 557px) {
   #category_hero {
      height: 100dvh;
   }
}

.hero {
   position: relative;
}

.hero::after {
   content: "";
   display: block;
   width: 100dvw;
   height: 100dvh;
   position: absolute;
   top: -28%;
   left: -6%;
   pointer-events: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
   background: radial-gradient(circle at -25% -16%, rgba(221, 147, 102, 0.607) 0, rgba(189, 165, 192, 0) 50%);
   z-index: 3;
}

@media (min-width: 1100px) {
   .hero::after {
      top: -24%;
      left: -46%;
      background: radial-gradient(
         circle at 49% -10%,
         rgba(221, 147, 102, 0.607) 0,
         rgba(189, 165, 192, 0) 50%
      );
   }
}

@media (min-width: 1440px) {
   .hero::after {
      top: -24%;
      left: -75%;
      background: radial-gradient(
         circle at 53% -41%,
         rgba(221, 147, 102, 0.607) 0,
         rgba(189, 165, 192, 0) 50%
      );
   }
}

.hero_container {
   display: flex;
   width: 100%;
   justify-content: center;
   place-content: center;
   overflow: hidden;
   align-items: center;
   position: relative;
   gap: var(--s-marg-em-xs);
   height: 594px;
}

@media (min-width: 557px) {
   .hero_container {
      gap: var(--s-marg-em-m);
   }
}

.hero_title {
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: start;
   white-space: nowrap;
   gap: var(--s-marg-em-s);
   height: 32px;
}

.hero_title p {
   font-size: var(--s-fs-hero-s);
   color: var(--s-main);
   font-family: var(--s-playfair-ff);
   font-display: block;
}

@media (min-width: 537px) {
   .hero_title p {
      font-size: var(--s-fs-xl);
   }
}

@media (min-width: 587px) {
   .hero_title p {
      font-size: var(--s-fs-xxl);
   }
}

.hero_title p:not(.hero_title p:last-child) {
   color: transparent;
}

.hero_title_list .hero_title_list_inner {
   display: flex;
   justify-content: end;
   flex-direction: column;
   align-items: start;
   height: 32px;
   gap: var(--s-marg-em-s);
}

.hero_title_list .hero_title_list_inner .h1 {
   display: block;
   margin: 0;
   padding: 0;
   font-size: var(--s-fs-hero-s);
   color: var(--s-secondary);
   font-family: var(--s-playfair-ff);
   white-space: nowrap;
}

@media (min-width: 537px) {
   .hero_title_list .hero_title_list_inner .h1 {
      font-size: var(--s-fs-xl);
   }
}

@media (min-width: 587px) {
   .hero_title_list .hero_title_list_inner .h1 {
      font-size: var(--s-fs-xxl);
   }
}

.hero_title_list .hero_title_list_inner .h1 span {
   color: var(--s-main) !important;
   font-style: italic;
}

.hero_fading_panel {
   position: absolute;
   height: 100%;
   width: 100%;
}

.hero_fading_panel .top_fade {
   width: 100%;
   height: 50%;
   position: inherit;
   top: 0;
   left: 0;
   background-image: linear-gradient(to bottom, rgba(28, 33, 38, 1), rgba(28, 33, 38, 0));
}

.hero_fading_panel .bottom_fade {
   width: 100%;
   height: 50%;
   position: inherit;
   top: 50%;
   left: 0;
   background-image: linear-gradient(to top, rgba(28, 33, 38, 1), rgba(28, 33, 38, 0));
}

.hero_arrow_tip {
   font-size: var(--s-fs-hero-s);
   position: absolute;
   bottom: 0;
   left: 0;
}

@media (min-width: 557px) {
   .hero_arrow_tip {
      font-size: var(--s-fs-xl);
   }
}

#in_cont_short_about {
   display: flex;
   flex-direction: column;
   margin-top: var(--s-marg-em-xs);
}

.short_about > p {
   font-family: var(--s-playfair-ff);
   font-size: var(--s-fs-m);
   color: rgba(240, 232, 227, 0.103);
   transition: color 0.5s ease;
}

@media (min-width: 609px) {
   .short_about {
      max-width: calc(100% - 12%);
   }
   .short_about > p {
      font-size: var(--s-fs-l);
   }
}

@media (min-width: 1024px) {
   .short_about {
      max-width: calc(100% - 16%);
   }
   .short_about > p {
      font-size: calc(var(--s-fs-xl) - 0.3rem);
   }
}

#in_cont_recommended_list {
   height: 100dvh;
   display: flex;
   flex-direction: column;
   margin-top: var(--s-marg-em-xxl);
}
