@import url("../../../public/themes/variables.css");

#app {
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}

.container {
   margin: 0 auto;
   max-width: var(--s-max-width);
   padding: 0 1rem;
   height: 100%;
}

.cont {
   margin: 0 -0.2rem;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.in_cont {
   padding: 0 0.2rem;
   flex-grow: 1;
   min-height: 0.1rem;
}

#category_nav {
   position: fixed;
   z-index: var(--s-nav-z-idx);
   width: 100%;
   height: var(--s-marg-em-l);
}

.nav_container {
   margin: 0 auto;
   max-width: var(--s-max-width);
   padding: 0 1rem;
   height: 100%;
}

.nav_in_cont {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav {
   margin-top: var(--s-marg-em-m);
}

.nav_header {
   cursor: pointer;
   display: flex;
   gap: var(--s-marg-em-xs);
   font-family: var(--s-playfair-ff);
   font-size: var(--s-fs-xs);
}

.nav_header a:first-child p {
   font-style: italic;
   color: var(--s-primary-color);
   transition: var(--s-transition-hover-base);
}

.nav_header a:not(.nav_header a:first-child) p {
   color: var(--s-secondary-color);
   transition: var(--s-transition-hover-base);
}

.nav_header a:not(.nav_header a:first-child) p:hover {
   color: var(--s-primary-color);
}

#in_cont_hero {
   display: flex;
   flex-direction: column;
   margin-top: var(--s-marg-em-xxl);
}

.hero_two_sections {
   display: flex;
   width: 100%;
   justify-content: center;
   overflow: hidden;
   align-items: end;
   position: relative;
   gap: var(--s-marg-em-xs);
   height: 507px;
}

.hero_fading_panel {
   position: absolute;
   height: 100%;
   width: 100%;
}

.hero_fading_panel .top_fade {
   width: 100%;
   height: 50%;
   position: inherit;
   top: 0;
   left: 0;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.hero_fading_panel .bottom_fade {
   width: 100%;
   height: 50%;
   position: inherit;
   top: 50%;
   left: 0;
   background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.hero_title {
   display: flex;
   flex-direction: column;
   align-items: start;
   white-space: nowrap;
   gap: var(--s-marg-em-s);
}

.hero_title p {
   font-size: var(--s-fs-hero-s);
   color: var(--s-primary-color);
   font-family: var(--s-playfair-ff);
}

.hero_title p:not(.hero_title p:first-child) {
   z-index: 2;
}

.hero_title p:not(.hero_title p:first-child, .hero_title p:last-child) {
   color: transparent;
}

.hero_title_list {
   height: 746px;
   display: flex;
   justify-content: end;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   gap: var(--s-marg-em-s);
}

.hero_title_list > .h1 {
   display: block;
   margin: 0;
   padding: 0;
   font-size: var(--s-fs-hero-s);
   color: var(--s-secondary-color);
   font-family: var(--s-playfair-ff);
   white-space: nowrap;
}

@media (min-width: 768px) {
   .hero_title p {
      font-size: var(--s-fs-hero-m);
   }

   .hero_title_list > .h1 {
      font-size: var(--s-fs-hero-m);
   }
}

.hero_title_list > .h1 span {
   color: var(--s-primary-color) !important;
   font-style: italic;
}

#in_cont_short_about {
   display: flex;
   flex-direction: column;
   margin-top: var(--s-marg-em-xs);
}
